<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/img/sasageyo.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Survey Corps Logo</ion-card-subtitle>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    </ion-card-content>
    <ion-button color="primary" [routerLink]="['tabs']">Go Back</ion-button>
  </ion-card>
</ion-content>