
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Log In</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
      <div class="login-form">
        <form>
          <ion-item lines="full">
            <ion-label position="floating" for="email">Username: </ion-label>
            <ion-input id="email" type="text" name="email" [formControl]="email" ></ion-input>
          </ion-item>
      
          <ion-item lines="full">
            <ion-label position="floating" for="password">Password: </ion-label>
            <ion-input id="password" name="password" type="password" [formControl]="password" ></ion-input>
          </ion-item>
          
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" class="login-bttn" (click)="logIn(email,password)">Log In</ion-button>
              <a [routerLink]="['/']" class="small-text">Forgot Password?</a>
            </ion-col>
          </ion-row>
            <h1>Retrieving Values Example</h1>
            <p>username: {{ email.value }}</p>
            <p>password: {{ password.value }}</p>
        </form>
      </div>
    </ion-content>
