<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">First name:</ion-label>
      <ion-input id="firstName" type="text" name="firstName" [formControl]="firstName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name:</ion-label>
      <ion-input id="firstName" type="text" name="firstName" [formControl]="lastName"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" for="email">Username: </ion-label>
      <ion-input id="firstName" type="text" name="firstName" [formControl]="email" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" for="password">Password: </ion-label>
      <ion-input id="password" name="password" type="password" [formControl]="password" ></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block" [routerLink]="['login']">Sign Up</ion-button>
      </ion-col>
    </ion-row>
      <h1>Retrieving Values Example</h1>
      <p>First Name: {{ firstName.value }}</p>
      <p>Last Name: {{ lastName.value }}</p>
      <p>username: {{ email.value }}</p>
      <p>password: {{ password.value }}</p>

  </form>

</ion-content>
